<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!--공통 헤더-->
<head th:replace="fragments/header :: MainHeader"></head>

<th:block th:replace="fragments/top_nav :: Topnav" ></th:block>

<body class="container">
    <div class="row g-5 mt-1">
        <div class="col mb-8">
            <th:block layout:fragment="content"></th:block> <!--col mb-8 -->
        </div>
        <th:block th:replace="fragments/sidebar :: SideBar"></th:block>
        <th:block th:replace="fragments/footer :: Footer"></th:block>
    </div>
</body>
</html>
