<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.test.mapper.Board.BoardMapper">
    <insert id="BoardRegister" parameterType="com.example.test.mvc.board.BoardVO">
        CALL SYS_BOARD_REGISTER(#{board_title},#{board_contents})
    </insert>

    <select id="BoardGet" resultType="com.example.test.mvc.board.BoardVO">
        CALL SYS_BOARD_GET()
    </select>
    <select id="CategorieGet" resultType="com.example.test.mvc.board.CategorieVO">
        SELECT * FROM SYS_CATEGORIE_LIST
    </select>
</mapper>