<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="SideBar">
    <!--   left navbar [s]     -->
    <div class="col-md-3">
        <div class="position-sticky" style="top: 2rem;">
            <div class="p-4 mb-3 bg-light rounded">
                <h4 class="fst-italic">About</h4>
                <p class="mb-0"></p>
            </div>
            <div class="p-4">
                <h4 class="fst-italic">Categories</h4>
                <ol class="list-unstyled mb-0">
                    <li><a href="fashion_news">FASHION NEWS</a></li>
                    <li><a href="lookbook">STYLE LOOK BOOK</a></li>
                    <li><a href="sneakers">SNEAKERS</a></li>
                    <li><a href="clothes">CLOTHES</a></li>

                </ol>
            </div>

            <div class="p-4">
                <h4 class="fst-italic">개발자 정보</h4>
                <ol class="list-unstyled">
                    <li><a href="#">GitHub</a></li>
                </ol>
            </div>
        </div>
    </div>
    <!--   left navbar [e]     -->
</th:block>
</html>