<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/subheader :: SubHeader">
    <title>회원가입</title>
</head>

<body>
<div class="container">
    <div class="form-signin">
        <form th:action="${type eq 'naver' ? '/naverRegister' : '/uRegister'}" method="post" name="registerForm">
        <div class="input-form col-md-12 mx-auto">
            <img class="mb-2" th:src="@{/img/logo.png}"  width="100" height="40">
            <h2 class="mb-3">회원가입</h2>
            <th:block th:if="${type == null}">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="user_id">ID</label>
                        <input type="text" class="form-control"  id="user_id" name="user_id"  placeholder="아이디" required>
                        <a type="Button" onclick="idcheck()" style="color: #3768ff" id="id_check">중복체크</a>
                        <div class="invalid-feedback">
                            아이디를 입력해주세요.
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="user_pwd">비밀번호</label>
                        <input type="password" class="form-control" name="user_pwd" id="user_pwd"  required>
                        <div class="invalid-feedback">
                            비밀번호를 입력해주세요
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="email">E_mail</label>
                    <input type="email" class="form-control" id="email"name="email" placeholder="FFPP@example.com" required>
                    <div class="invalid-feedback">
                        이메일을 입력해주세요.
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-8 mb-3">
                        <label for="user_name">이름</label>
                        <input type="text" class="form-control" id="user_name"name="user_name" placeholder="홍길동" required>
                        <div class="invalid-feedback">
                            이름을 입력해주세요.
                        </div>

                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="gender">성별</label>
                        <select class="custom-select d-block w-50" id="gender" name="gender">
                            <option value=""></option>
                            <option>남자</option>
                            <option>여자</option>
                        </select>
                        <div class="invalid-feedback">
                            성별을 선택해주세요.
                        </div>
                    </div>
                </th:block>
                <th:block th:if="${type eq 'naver'}">
                    <div class="mb-3">
                        <label for="provider_id">ID</label>
                        <input type="text" class="form-control"  id="provider_id" name="provider_id"  placeholder="아이디" required>
                        <a type="Button" onclick="idcheck()" style="color: #3768ff">중복체크</a>
                        <div class="invalid-feedback">
                            아이디를 입력해주세요.
                        </div>
                        <br>
                        <label for="user_nm">이름</label>
                        <input type="hidden" th:value="${token}" name="token">
                        <input type="text" class="form-control" id="user_nm"name="user_nm" placeholder="이름을 입력해주세요.">
                        <div class="invalid-feedback">
                            이름을 입력해주세요.
                        </div>
                    </div>
                </th:block>
                </div>
                <hr class="mb-4">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="aggrement" required>
                    <label class="custom-control-label" for="aggrement">개인정보 수집 및 이용에 동의합니다.</label>
                </div>
                <div class="mb-4"></div>
                <button type="submit" class="btn btn-secondary btn-large form-control mb-2" style="color: aqua" id ="btn_join">Join</button>
                <a href="javascript:history.go(-1);" class="btn btn-secondary btn-large form-control" id="btn_loginForm">Back</a>
            </form>

        </div>
    </div>
</div>
</body>
<!--
    <body class="text-center">
        <div class="form-signin">
            <img class="mb-4" src="https://e7.pngegg.com/pngimages/710/549/png-clipart-pig-computer-icons-pig-animals-vector-icons.png" alt="" width="72" height="57">
                <h1 class=femi mb-4 fw-normal style="font-size: 45px">패미 회원가입</h1>
            <form action="/uRegister" method="post" name="registerForm">


                <div class="wrap-input100- validate-input m-b-14">
                    <div class="input-group mb-2 mt-3">
                        <input class="input50 form-control " type="text" id="user_id" name="user_id"  placeholder="아이디" autocomplete="off" required/>
                        <span class="focus-input50"></span>
                        <a class="btn btn-secondary btn-large form-control test" onclick="idcheck()" style="color: #3768ff" id="id_check">중복체크</a>
                        <input type="hidden"id="chkYn" value="0">
                    </div>
                </div>

                <input type="password" name="user_pwd" class="form-control mb-2"  placeholder="비밀번호" autocomplete="off" required/>
                <input type="text" name="user_name" class="form-control mb-2" placeholder="이름" autocomplete="off" required/>
                <input type="text" name="email" class="form-control mb-4" placeholder="이메일" autocomplete="off" required/>
                <button type="submit" class="btn btn-secondary btn-large form-control mb-2" style="color: aqua" id ="btn_join">Join</button>
                <a href="javascript:history.go(-1);" class="btn btn-secondary btn-large form-control" id="btn_loginForm">Back</a>
            </form>

        </div>
    </body>
-->
<th:block th:replace="fragments/footer :: Footer"></th:block>
</html>